.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.first-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.app-header {
  width: 90vw;
  display: flex;
  padding: 3.125rem;
  justify-content: space-around;
}

.iterate-logo {
  width: 90;
  height: 30;
}

.route-links {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.route-link {
  padding: 0.625rem;
}

.first-section-title {
  font-size: 3.75rem;
  font-weight: 900;
}

.green-small-line {
  width: 0.625rem;
  border-top: 0.1875rem green solid;
  border-left: 0.625rem green solid;
  border-right: 0.625rem green solid;
  border-bottom: 0.1875rem green solid;
  margin-top: 1.25rem;
}

.first-section-intro-description {
  font-size: 1.875rem;
  text-align: center;
}

.first-section-free-to-join {
  color: white;
  width: 9.5rem;
  height: 9.5rem;
  display: flex;
  font-size: 1.4375rem;
  text-align: center;
  margin-top: 6.25rem;
  font-weight: 200;
  align-items: center;
  border-radius: 6.25rem;
  flex-direction: column;
  justify-content: space-around;
  background-color: green;
}

.first-section-free-to-join-strong {
  font-size: 1.875rem;
  font-weight: 700;
}

.second-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
}

.second-section-title {
  font-weight: 900;
  font-size: 1.875rem;
}

.second-section-description {
  font-weight: 300;
  font-size: 1.5rem;
}

.second-section-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.second-section-card {
  width: 12.5rem;
  height: 12.5rem;
  margin: 1.875rem;
  display: flex;
  box-shadow:rgba(140, 160, 170, 0.1) 0rem 0rem 1.875rem 0.9375rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.second-section-card-icon {
  width: 3.125rem;
  height: 3.125rem;
}

.second-section-card-title {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
}

.third-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.third-section-title {
  font-weight: 900;
  font-size: 1.875rem;
}

.third-section-description {
  font-weight: 300;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.third-section-description-strong {
  font-weight: 900;
}

.third-section-info {
  display: flex;
  flex-direction: row;
  padding: 3.1rem;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}

.third-section-note {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-right: 3.5rem;
}

.third-section-note-text {
  padding-right: 30px;
  font-size: 20px;
}

.third-section-note-text-strong {
  font-weight: 900;
}

.third-section-calendar {
  display: flex;
  flex-direction: column;
}

.third-section-time-wrapper {
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  padding-left: 70px;
  padding-bottom: 10px;
}

.third-section-day {
  font-size: 20px;
  font-weight: 900;
}

.third-section-workshop-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding-bottom: 10px;
}

.third-section-workshop {
  background-color: #ffd015;
  padding: 5px 15px;
  border-radius: 16px;
  width: 400px;
}

.zigzag-style {
  width: 20px;
  height: 100px;
  background-image: url(../images/zigzag-vertical.png);
  background-repeat: no-repeat;
  background-position: right;
}
