body {
  font-family: 'Rubik', sans-serif;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hover-link {
  color: black;
}

.hover-link:hover {
  color: #00eb7f;
}

.first-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.app-header {
  width: 90vw;
  display: flex;
  padding: 3.125rem;
  padding-bottom: 15vh;
  justify-content: space-around;
}

.iterate-logo {
  width: 90;
  height: 30;
}

.route-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 0.9rem;
}

.route-link {
  padding: 0.625rem;
  cursor: pointer;
}
.route-link:hover {
  color: #337ab7;
}

.first-section-title {
  font-size: 3.75rem;
  font-weight: 900;
}

.green-small-line {
  width: 0.625rem;
  border-top: 0.1875rem #00eb7f solid;
  border-left: 0.625rem #00eb7f solid;
  border-right: 0.625rem #00eb7f solid;
  border-bottom: 0.1875rem #00eb7f solid;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.first-section-intro-description {
  font-size: 1.875rem;
  text-align: center;
}

.first-section-free-to-join {
  color: white;
  width: 9.5rem;
  height: 9.5rem;
  cursor: pointer;
  display: flex;
  font-size: 1.4375rem;
  text-align: center;
  margin-top: 9.25rem;
  font-weight: 200;
  align-items: center;
  border-radius: 6.25rem;
  flex-direction: column;
  justify-content: space-around;
  background-color: #00eb7f;
}

.first-section-free-to-join-strong {
  font-size: 1.875rem;
  font-weight: 700;
}

.second-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
}

.second-section-title {
  padding-top: 15vh;
  font-weight: 900;
  font-size: 1.875rem;
}

.second-section-description {
  font-weight: 300;
  font-size: 1.5rem;
  padding-bottom: 10vh;
}

.second-section-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.second-section-card {
  color: black;
  width: 12.5rem;
  height: 12.5rem;
  margin: 1.875rem;
  cursor: pointer;
  display: flex;
  box-shadow:rgba(140, 160, 170, 0.1) 0rem 0rem 1.875rem 0.9375rem;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  background-color: white;
}

.second-section-card:hover {
  color: #00eb7f;
}

.second-section-card-icon {
  margin-top: 3rem;
  width: 3.125rem;
  height: 3.125rem;
}

.second-section-card-title {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0.7rem;
}

.third-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.third-section-title {
  padding-top: 15vh;
  font-weight: 900;
  font-size: 1.875rem;
}

.third-section-description {
  padding-bottom: 20vh;
  font-weight: 300;
  font-size: 1.5rem;
}

/* .third-section-description-strong {
  font-weight: 900;
} */

.third-section-info {
  display: flex;
  flex-direction: row;
  padding: 3.1rem;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}

.third-section-note {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-right: 3.5rem;
}

.third-section-note-text {
  padding-right: 1.875rem;
  font-size: 1.25rem;
}

.third-section-note-text-strong {
  font-weight: 900;
}

.third-section-calendar {
  display: flex;
  flex-direction: column;
}

.third-section-time-wrapper {
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  padding-left: 4.375rem;
  padding-bottom: 0.625rem;
}

.third-section-day {
  font-size: 1.25rem;
  font-weight: 900;
}

.third-section-workshop-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 31.25rem;
  padding-bottom: 0.625rem;
}

.third-section-workshop {
  background-color: #ffd015;
  padding: 0.3125rem 0.9375rem;
  border-radius: 1rem;
  width: 25rem;
}

.zigzag-style {
  width: 1.25rem;
  height: 6.25rem;
  background-image: url(../images/zigzag-vertical.png);
  background-repeat: no-repeat;
  background-position: right;
}

.fourth-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
}

.fourth-section-title {
  padding-top: 15vh;
  font-weight: 900;
  font-size: 1.875rem;
}

.fourth-section-description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  padding-top: 6.25rem;
}

.fourth-section-description {
  width: 25rem;
  font-size: 1.375rem;
}

.fourth-section-map {
  border: none;
}

.fourth-section-big-thank-you {
  color: #00eb7f;
  font-weight: 900;
}

.fifth-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.fifth-section-title {
  padding-top: 10vh;
  font-weight: 900;
  font-size: 1.875rem;
}

.fifth-section-gothenberg {
  font-size: 1.5625rem;
  font-weight: 300;
  padding-bottom: 5vh;
}

.fifth-section-code {
  width: 40vw;
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.5;
  box-sizing: border-box;

}

.fifth-section-code-item {
  display: list-item;
  list-style-image: url(../images/conduct-bullet.png);
  padding-bottom: 0.3rem;
}

.fifth-section-code-inner-item {
  list-style-type: decimal;
  list-style-image: none;
  padding-bottom: 0.2rem;
}

.sixth-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
}

.sixth-section-title {
  font-weight: 900;
  padding-top: 15vh;
  font-size: 1.875rem;
}

.sixth-section-acknowledgment {
  padding-top: 15vh;
  font-size: 1.5625rem;
  font-weight: 300;
}
